.galeria{
    margin-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.singlegaleria{
    background-color: rgba(0, 0, 255, 0.109);
    margin: 10px;
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.overflow{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(transparent, black);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    bottom: 0px;
    left: 0px;
}
.overflow:hover{
    background: linear-gradient(transparent, black);
    opacity: 0.2;
}
.conteudo{
    position: absolute;
    color: white;
    border-left: 3px solid white;
    padding: 0 10px;
    bottom: 10px;
    left: 10px;
    transition: all 0.5s ease-in-out;
}

.conteudoh1{
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.50)
}

.conteudop{
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(4,4,4,4.80)
}